html {
  height: 100%;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none !important;
}

#login-page footer,
#signup-page footer {
  display: none !important;
}

.login-form,
.register-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.navbar-avatar {
  width: 40px !important;
  height: 40px !important;
}

.navbar-avatar img {
  width: 40px !important;
  height: 40px !important;
}
