html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  height: 100%;
}

a {
  text-decoration: none !important;
}

@media (max-width: 1150px) {
  //laptop
  #login-page nav,
  #signup-page nav,
  #restorePassword-page nav,
  #resetPassword-page nav {
    display: flex !important;
  }

  .laptop-hidden {
    display: none;
  }
}

@media (max-width: 1150px) {
  //laptop
  #login-page nav,
  #signup-page nav,
  #restorePassword-page nav,
  #resetPassword-page nav {
    display: flex !important;
  }

  .laptop-hidden {
    display: none;
  }
}

@media (max-width: 1570px) {
  .laptop-hidden {
    width: 750px;
  }
}

@media (min-width: 769px) {
  //mobile
  #login-page nav,
  #signup-page nav,
  #restorePassword-page nav,
  #resetPassword-page nav {
    display: none !important;
  }
}

@media (max-width: 769px) {
  //mobile
  .mobile-hidden {
    display: none;
  }
}

#login-page footer,
#signup-page footer,
#restorePassword-page footer,
#resetPassword-page footer {
  display: none !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 80rem;
}

#login-page .container,
#signup-page .container,
#restorePassword-page .container,
#resetPassword-page .container {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  // max-width: 100%;
}

.navbar-avatar {
  width: 40px !important;
  height: 40px !important;
}

.navbar-avatar img {
  width: 40px !important;
  height: 40px !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.gold {
  background: linear-gradient(41.75deg, #fe7f2d 22.78%, #fcca46 87.18%);
}

.silver {
  background: linear-gradient(41.75deg, #d8d8d8 22.78%, #999999 87.18%);
}

.bronze {
  background: linear-gradient(41.75deg, #956956 22.78%, #d79376 87.18%);
}
